{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    <p>Nom: {{ app.user.username }}</p>
    <p>Email: {{ app.user.email }}</p>
    <!-- Ajoutez d'autres informations de profil ici -->

    <h2>Modifier mes informations</h2>
    <form method="post" action="{{ path('profile_update') }}">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer les modifications</button>
        {{ form_end(form) }}
    </form>
{% endblock %}