{# templates/post/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1 class="h3 mb-4 text-center">Créer un nouveau post</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.content) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.category) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.publishedAt) }}
            {{ form_widget(form.publishedAt, { 'attr': {'class': 'form-control', 'value': "now"|date("Y-m-d") } }) }}
            {{ form_errors(form.publishedAt) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.picture) }}
            {{ form_widget(form.picture, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.picture) }}
        </div>

        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
